@font-face {
  font-family: 'Helvetica47';
  src: url('helvetica-neue-lt-com-47-light-condensed.eot?') format('eot'), url('helvetica-neue-lt-com-47-light-condensed.woff') format('woff'), url('helvetica-neue-lt-com-47-light-condensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica77';
  src: url('helvetica-neue-lt-com-77-bold-condensed.eot?') format('eot'), url('helvetica-neue-lt-com-77-bold-condensed.woff') format('woff'), url('helvetica-neue-lt-com-77-bold-condensed.ttf') format('truetype');
}

/** TYPOGRAPHY **/
.title-text{
	color: #ff7700;
	line-height: 76px;
	font-size: 47px;
	font-family: Helvetica77;
}

.sub-title-text{
	color: #666666;
	line-height: 32px;
	font-size: 26px;
	font-family: Helvetica47;
}

.nav-text{
	color: #666666;
	line-height: 18px;
	font-size: 12px;
	font-family: Gotham;
}

.body-heading-text{
	color: #ff7700;
	line-height: 44px;
	font-size: 42px;
	font-family: serif;
}

.data-heading-text{
	color: #999999;
	line-height: 32px;
	font-size: 28px;
	font-family: serif;
}

/** ICONS **/
.icons {
	background-image: url(../img/icons.png);
	display: inline-block;
	background-color: transparent;
	border: 0;
}

.icon-cloud{
	vertical-align: bottom;
	background-position: 0px 0;
	width: 208px;
	height: 132px;
}

.icon-data{
	vertical-align: bottom;
    background-position: -250px 0;
	width: 102px;
	height: 132px;
}

.icon-web{
	vertical-align: bottom;
    background-position: -493px 0;
	width: 137px;
	height: 132px;
}

.icon-mobile{
	vertical-align: bottom;
    background-position: -727px 0;
	width: 116px;
	height: 132px;
}

.logo{
	background-image: url(../img/logo.png);
	display: inline-block;
	background-color: transparent;
	border: 0;
	width: 192px;
	height: 34px;
}

/** REST **/
.container{
	text-align: center;	
}
.navbar-header{
	margin-left: 7em;
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
	margin-top: 10px;
	margin-bottom: 0;
}